h1 {
  text-align: center;
}

.info {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-around;
}
.card-text-row.active {
  background-color: #ED4264!important;
  color:white;
}
